* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Bellota Text', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; */
    font-family: 'Saira', sans-serif;
    background-color: #EFF2F1;
}

section {
    padding: 96px 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1270px;
    margin: 0 auto;
    padding: 0px 0.5rem;
}

/* ----------------------------------------------------------------------------------- */
/* Components */

.special-heading {
    margin-bottom: 32px;
    position: relative;
}

.special-heading::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #3b5d50;
    transition: 0.4s;
}

.special-heading:hover::after {
    width: 160px;
}

.heading-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #222222;
}

.plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #2f2f2f;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
}

/* ----------------------------------------------------------------------------------- */
/* Header */

header {
    background-color: #3b5d50;
    padding: 11px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .company-name {
    color: white;
    font-weight: 600;
}

.company-name span {
    opacity: 0.4;
    border-radius: 50%;
}

nav .links-list {
    display: flex;
}

nav .links-list li .main-links {
    padding: 10px 12px;
    margin: 0 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

nav .links-list li .main-links:hover {
    color: rgb(255, 255, 255);
}

nav .links-list li .main-links:focus {
    color: rgb(255, 255, 255);
}

.main-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: #f9bf29;
    transition: 0.3s;
}

.main-links::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 2px;
    background-color: #f9bf29;
    transition: 0.3s;
}

.main-links span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0px;
    background-color: #f9bf29;
    transition: 0.3s;
}

.main-links span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0px;
    background-color: #f9bf29;
    transition: 0.3s;
}

.main-links:hover::before,
.main-links:hover::after {
    width: 100%;
}

.main-links:hover span::before,
.main-links:hover span::after {
    height: 100%;
}

.main-links:focus:before,
.main-links:focus:after {
    width: 100%;
}

.main-links:focus span::before,
.main-links:focus span::after {
    height: 100%;
}

.drop {
    position: relative;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #3b5d50;
    width: 390px;
    padding: 1rem;
    margin: 20px 0 0 20px;
    border: 1px solid #f9be29c2;
    border-radius: 4px;
    z-index: 9;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}

.drop:hover .menu {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.menu-column a {
    color: rgba(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
}

.menu-column .first {
    margin-bottom: 8px;
}

.menu-column .category-name {
    border-bottom: 2px dotted #f9be29c2;
    font-size: 15px;
}

.header-icons a {
    color: white;
    font-size: 22px;
    padding: 0px 12px;
}

.header-icons a sub {
    font-size: 12px;
    font-weight: 800;
    background-color: #f9bf29;
    border-radius: 50%;
    padding: 0px 6px;
}

/* ----------------------------------------------------------------------------------- */
/* Landing */

.landing {
    background-color: #3b5d50;
}

.landing .container {
    display: flex;
    align-items: center;
}

.landing .text-content h2 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.2;
}

.landing .text-content p {
    color: #EFF2F1;
    font-size: 16px;
    margin-bottom: 24px;
}

.text-content .btn-1 {
    color: #2f2f2f;
    background: #f9bf29;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 30px;
    margin-right: 8px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.text-content .btn-1:hover {
    background-color: #F8B810;
}

.text-content .btn-2 {
    color: #EFF2F1;
    background: #3b5d50;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 30px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.text-content .btn-2:hover {
    border-color: white;
}

.img-content figure {
    position: relative;
}

.img-content figure::before {
    content: "";
    position: absolute;
    top: 90px;
    right: -90px;
    background-image: url(../images/dots-light.svg);
    width: 255px;
    height: 217px;
}

.img-content img {
    transform: translate(70px, 58px);
}

/* ----------------------------------------------------------------------------------- */
/* Best Sellers */

.best-sellers-content {
    display: flex;
}

.best-sellers-content .item {
    width: 25%;
    padding: 0 12px;
}

.item h2 {
    font-size: 32px;
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 24px;
}

.item p {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 24px;
}

.item button {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 36px;
    border-radius: 30px;
    color: white;
    background-color: #2f2f2f;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.item button:hover {
    background-color: #222222;
}

.product-item {
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    cursor: pointer;
}

.item .product-item img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.4s;
}

.item .product-item h3 {
    font-size: 18px;
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 8px;
}

.item .product-item strong {
    font-size: 20px;
    color: #2f2f2f;
    display: block;
}

.product-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    transition: 0.4s;
}

.item .product-item .plus-icon {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -17px;
    transition: 0.4s;
}

.product-item:hover::before {
    height: 60%;
}

.product-item:hover .plus-icon {
    opacity: 1;
}

.product-item:hover img {
    transform: translateY(-20px);
}

/* ----------------------------------------------------------------------------------- */
/* Services */

.services .container {
    display: flex;
    justify-content: space-between;
}

.services-text {
    width: 50%;
    padding: 0 12px;
}

.services-text .heading {
    font-size: 32px;
    font-weight: 500;
    color: #2f2f2f;
    margin-bottom: 8px;
}

.services-text .text {
    font-size: 16px;
    color: #6a6a6a;
    margin-bottom: 24px;
}

.sevices-items {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: 50%;
    margin-bottom: 30px;
    padding: 0 12px;
}

.service i {
    font-size: 30px;
    color: #2f2f2f;
    margin-bottom: 16px;
    position: relative;
}

.service span {
    position: absolute;
    bottom: -8px;
    right: -14px;
    width: 30px;
    height: 30px;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
}

.service h3 {
    font-size: 18px;
    font-weight: 500;
    color: #2f2f2f;
    margin-bottom: 8px;
}

.service p {
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 16px;
}

.services-img {
    width: 40%;
}

.services-img figure {
    position: relative;
}

.services-img figure::before {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url(../images/dots-yellow.svg);
    transform: translate(-40%, -40%);
    z-index: -1;
}

.services-img img {
    width: 100%;
    border-radius: 20px;
}

/* ----------------------------------------------------------------------------------- */
/* About Us */

.about .container {
    display: flex;
    justify-content: space-between;
}

.about .about-imgs {
    width: 58%;
    padding: 0 8px;
}

.imgs-grid {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
}

.imgs-grid .img-1 {
    grid-column: 1 / span 18;
    grid-row: 1 / span 27;
    position: relative;
}

.imgs-grid .img-1::before {
    content: "";
    position: absolute;
    top: -85px;
    left: -110px;
    background-image: url(../images/dots-green.svg);
    width: 255px;
    height: 217px;
    z-index: -1;
}

.imgs-grid .img-2 {
    grid-column: 19 / span 27;
    grid-row: 1 / span 5;
    padding-left: 20px;
}

.imgs-grid .img-3 {
    grid-column: 14 / span 16;
    grid-row: 6 / span 27;
    padding-top: 20px;
    z-index: 1;
}

.imgs-grid img {
    width: 100%;
    border-radius: 20px;
}

.about-text {
    width: 41%;
    padding-left: 48px;
}

.about-text h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    color: #2f2f2f;
    margin-bottom: 24px;
}

.about-text p {
    font-size: 15px;
    color: #6a6a6a;
    margin-bottom: 16px;
}

.about-text ul {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0px;
}

.about-text li {
    width: 50%;
    font-size: 14px;
    line-height: 1.5;
    color: #6a6a6a;
    margin-bottom: 12px;
    padding: 0px 20px;
    position: relative;
}

.about-text li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #3b5d50;
}

.about-text button {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 36px;
    border-radius: 30px;
    color: white;
    background-color: #2f2f2f;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

.about-text button:hover {
    background-color: #222222;
}

/* ----------------------------------------------------------------------------------- */
/* Special Categories */

.item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.item-head h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
}

.item-head a {
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 500;
}

.item-head a i {
    font-size: 13px;
}

.popular-items {
    display: flex;
    padding: 16px 0px;
}

.popular-items .item-card {
    width: 25%;
    margin: 0px 8px;
    padding: 20px;
    background-color: #dce5e4;
    border-radius: 8px;
    position: relative;
}

.item-card img {
    width: 90%;
    display: block;
    margin: 0px auto 24px;
    transition: 0.4s;
}

.item-card h4 {
    font-size: 19px;
    font-weight: 600;
    color: #2f2f2f;
}

.item-card strong {
    font-size: 20px;
    color: #2f2f2f;
    display: block;
}

.item-card .plus-icon {
    bottom: 24px;
    right: 20px;
}

.item-card:hover .plus-icon {
    opacity: 1;
}

.item-card:hover img {
    transform: scale(1.04);
}

.discount-items {
    display: flex;
    padding: 16px 0px;
}

.discount-items .discount-text {
    width: calc(50% + 20px);
    margin: 0px 8px;
    padding: 20px;
    background-color: #3b5d50;
    color: #EFF2F1;
    border-radius: 8px;
    position: relative;
}

.discount-text h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
}

.discount-text .qq {
    font-size: 48px;
}

.discount-text p {
    font-size: 16px;
    color: white;
}

.discount-text ul {
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.discount-text ul li {
    margin: 0 5px;
    width: 45px;
    height: 2px;
    background-color: #f9bf29;
}

.discount-card {
    width: 25%;
    margin: 0px 8px;
    padding: 20px;
    border-radius: 8px;
    background-color: #dce5e4;
    transition: 0.4s;
    position: relative;
}

.discount-card img {
    width: 70%;
    display: block;
    margin: 0px auto 24px;
}

.discount-card h4 {
    font-size: 18px;
    font-weight: 600;
    color: #2f2f2f;
}

.discount-card strong {
    font-size: 19px;
    color: #2f2f2f;
    display: block;
}

.discount-card del {
    font-size: 18px;
    color: #2f2f2fab;
}

.discount-card .plus-icon {
    bottom: 24px;
    right: 20px;
}

.discount-card:hover .plus-icon {
    opacity: 1;
}

.discount-card:hover {
    transform: scale(1.06);
}

.guarantees-content {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #3b5d50;
}

.guaran-item {
    width: 20%;
    padding: 0 16px;
    margin: 16px 0;
    text-align: center;
}

.guarantees-content .line {
    border-right: 1px solid #3b5d50;
}

.guaran-item .guaran-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
}

.guaran-item .guaran-img i {
    font-size: 42px;
}

.guaran-item .guaran-img .up {
    position: relative;
    top: 0;
    left: 0;
    color: #2f2f2fa9;
    transition: 0.5s;
}

.guaran-item .guaran-img .down {
    position: absolute;
    top: 80px;
    left: 50%;
    color: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.guaran-item:hover .up {
    top: -70px;
}

.guaran-item:hover .down {
    top: 0;
}

.guaran-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: #2f2f2f;
}

.guaran-text p {
    font-size: 14px;
    font-weight: 600;
    color: #6a6a6a;
}

/* ----------------------------------------------------------------------------------- */
/* Shop */

.shop .items-types {
    display: flex;
    justify-content: center;
}

.shop .items-types li {
    margin: 8px 12px;
    color: #2f2f2f;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.shop .items-types li::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3b5d50;
    transition: 0.4s;
}

.shop .items-types li:hover::before {
    width: 100%;
}

.shop .shop-items {
    display: flex;
    flex-wrap: wrap;
    margin: 22px 0px;
}

.shop-items .shop-item {
    width: 33.333333%;
    padding: 16px;
    position: relative;
}

.shop-item .item-img {
    position: relative;
    background-color: #dce5e4;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.shop-item .item-img img {
    display: block;
    width: 75%;
    margin: 0px auto 16px;
    transition: 0.4s;
}

.item-img .item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transform: scalex(0);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    transition: 0.4s;
}

.shop-item:hover .item-overlay {
    transform: scale(1);
}

.shop-item:hover .item-img img {
    transform: scale(1.13);
}

.item-overlay .info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item-overlay .info-content .info-item {
    width: 48%;
    text-align: center;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    color: #EFF2F1;
}

.item-overlay .info-content .info-item i {
    color: #EFF2F1;
    font-size: 25px;
}

.item-overlay .info-content .info-item h4 {
    font-size: 16px;
}

.item-overlay .info-content .info-item p {
    font-size: 14px;
}

.shop-item .item-name {
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
}

.shop-item i {
    color: #f9bf29;
}

.shop-item .item-description {
    font-size: 14px;
    color: #6a6a6a;
}

.shop-item strong {
    font-size: 20px;
    color: #2f2f2f;
    display: block;
}

.shop-item .plus-icon {
    bottom: 20px;
    right: 20px;
    color: white;
}

.shop-item:hover .plus-icon {
    opacity: 1;
}